.DVSL-NC-bar-info {
	background:#efefef;
	line-height:140%;
	-webkit-box-shadow: 0px 1px 7px rgba(0,0,0,.6);
	-moz-box-shadow:    0px 1px 7px rgba(0,0,0,.6);
	box-shadow:         0px 1px 7px rgba(0,0,0,.6);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-bottom:1px solid #FFF;
	font-size:13px;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	max-width:600px;
}

.DVSL-NC-bar-info strong {
	padding:15px 35px 14px 16px;
	background:#FFF;
	display:block;
	border-bottom:1px solid #DDD;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	font-size:16px;
	color:#000;
	font-weight:normal;
}
.DVSL-NC-bar-info ul {
	float:left;
	padding:16px;
	margin:0;
	max-width:300px;
}
.DVSL-NC-bar-info.NC-with-logo ul {
	width:270px;
}
.DVSL-NC-bar-info li {
	list-style:none;
	padding:1px 0 0 80px;
	font-size:12px;
	color:#333;
}
.DVSL-NC-bar-info li span {
	float:left;
	margin-left:-80px;
	color:#666;	
}
.DVSL-NC-bar-info img {
	width:180px;
	height:auto;
	float:right;
	padding:16px 16px 12px 0;
}
.DVSL-NC-bar-info .clear {clear:both}
.DVSL-NC-btn-small {
	color:#FFF;
	text-transform:uppercase;
	font-size:10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.7);
	-moz-box-shadow:    inset 0 0 5px rgba(0,0,0,.7);
	box-shadow:         inset 0 0 5px rgba(0,0,0,.7);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background:#09c;
	padding:1px 5px 0 5px;
	display:inline-block;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(0,0,0,.3);	
	margin:-7px 100px 0 16px;
}
.DVSL-NC-btn-small:hover {background:#666;}
.DVSL-NC-bar-details {
	position:relative;
	padding:16px 16px 0 16px;
}
.DVSL-NC-bar-details small {
	position:absolute;
	right:16px;	
	top:-18px;
	font-size:11px;
	color:#999;
	outline:none;
}
.DVSL-NC-bar-details small:hover {
	color:#333;
	cursor:pointer;	
}
.DVSL-NC-bar-details pre {
	padding:12px;
	background:#FFF;
	margin-top:-9px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.7);
	-moz-box-shadow:    inset 0 0 5px rgba(0,0,0,.7);
	box-shadow:         inset 0 0 5px rgba(0,0,0,.7);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	font-size:12px;
	white-space: pre-wrap;
	display:none;
}
.DVSL-NC-bar-info nav {
	background:#e2e2e2;
	display:block;
	padding:15px 15px 10px 15px;
	-webkit-box-shadow: inset 0 2px 2px -1px rgba(0,0,0,.3);
	-moz-box-shadow:    inset 0 2px 2px -1px rgba(0,0,0,.3);
	box-shadow:         inset 0 2px 2px -1px rgba(0,0,0,.3);
	border-top:1px solid #FFF;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.DVSL-NC-bar-info nav a {
	text-decoration:none;
	text-transform:uppercase;
	font-size:10px;
	color:#333;
	display:inline-block;
	padding:3px 2px 2px 22px;
	background-image:url(menu-sprite.png);
	background-repeat:no-repeat;
	opacity:.7;
	position:relative;
}
.DVSL-NC-bar-info nav a:hover {color:#000;opacity:1}
.DVSL-NC-bar-info nav a:hover:after {
	content:"";
	position:absolute;
	top:-15px;
	left:0;
	right:0;
	height:2px;
	background:#09c;	
}
a.DVSL-NC-button-expand {background-position:0 0;}
a.DVSL-NC-button-collapse {background-position:0 -35px;}
a.DVSL-NC-button-focus {background-position:0 -135px;}
a.DVSL-NC-button-unfocus {background-position:0 -169px;}
a.DVSL-NC-button-lock {background-position:2px -103px;}
a.DVSL-NC-button-unlock {background-position:0 -69px;}
a.DVSL-NC-button-hide {background-position:1px -202px;}
.DVSL-NC-bar-info b {
	position:absolute;
	left:16px;
	top:-8px;
	font-size:11px;
	color:#FFF;
	background:#C00;
	padding:0 4px;
	font-weight:normal;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.4);
	-moz-box-shadow:    inset 0 0 5px rgba(0,0,0,.4);
	box-shadow:         inset 0 0 5px rgba(0,0,0,.4);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}
.DVSL-NC-close {
	position:absolute;
	top:13px;
	right:12px;
	text-decoration:none;
	font-size:13px;
	color:#CCC;
	border:1px solid #CCC;
	width:19px;
	height:19px;
	text-align:center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	font-family:Verdana, Geneva, sans-serif;
}
.DVSL-NC-close:hover {
    color:#333;
    border-color:#666;
}


.DVSL-NC-zoom {
    position:absolute;
    bottom:10px;
    left:10px;
    opacity:.4;
    height:130px;
    width:30px;
}
.DVSL-NC-zoom:hover {opacity:1;}
.DVSL-NC-zoom nav {
    position:absolute;
    bottom:0;
    left:0;
    height:25px;
    white-space:nowrap;
}
.DVSL-NC-zoom nav a {
    width:25px;
    height:25px;
    display:inline-block;
    text-indent:-9999px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background:url(menu-sprite.png) 0 0 no-repeat;
    opacity:.5;
}
.DVSL-NC-zoom nav a:hover {opacity:1}
.DVSL-NC-zoom nav a.DVSL-NC-zoom-rearrange {background-position: 4px -260px;}
.DVSL-NC-zoom nav a.DVSL-NC-zoom-lock-all {background-position: 0 -286px;}
.DVSL-NC-zoom nav a.DVSL-NC-zoom-lock-all-active {background-position: 0 -314px;}
.DVSL-NC-zoom nav a.DVSL-NC-zoom-fit, .DVSL-NC-zoom nav a.DVSL-NC-zoom-fit-active {
    background: -moz-linear-gradient(top, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.2) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.01)), color-stop(1%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.2)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.2) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.2) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.2) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#33000000',GradientType=0 );
    background-color: #999;
    opacity:1;
}
.DVSL-NC-zoom nav a.DVSL-NC-zoom-fit-active {
    background-color: #09c;
}
.DVSL-NC-zoom nav a.DVSL-NC-zoom-fit:hover, .DVSL-NC-zoom nav a.DVSL-NC-zoom-fit-active:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
}
.DVSL-NC-zoom nav a.DVSL-NC-zoom-fit:after, .DVSL-NC-zoom nav a.DVSL-NC-zoom-fit-active:after {
    content:"";
    width:22px;
    height:20px;
    position:absolute;
    left:3px;
    top:4px;
    background:url(menu-sprite.png) 0 -236px no-repeat;
    display:block;
}
.DVSL-NC-zoom span {
    position:absolute;
    left:10px;
    bottom:32px;
    width:6px;
    height:100px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.8) inset;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8) inset;
}
.DVSL-NC-zoom span em {
    position:absolute;
    left:-8px;
    width:22px;
    height:24px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.2) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.01)), color-stop(1%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.2)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.2) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.2) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.2) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.01) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03000000', endColorstr='#33000000',GradientType=0 );
    background-color:#FFF;
    border-bottom:1px solid #FFF;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    cursor:pointer;
}
.DVSL-NC-zoom span em:after, .DVSL-NC-zoom span em:before {
    content:"";
    position:absolute;
    left:0;right:0;
    top:11px;
    background:rgba(0,0,0,.1);
    height:1px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);

}
.DVSL-NC-zoom span em:before {top:13px;}
